PORT=3000
ADMIN_PASSWORD=your_admin_password
SCOREBOARD_STATE_FILE=./scoreboard_state.json

# DO NOT ENABLE IN PRODUCTION
# This will add a random delay to all network requests
ARTIFICAL_NETWORK_DELAY=false