PORT=3000
ADMIN_PASSWORD=your_admin_password
SCOREBOARD_STATE_FILE=./scoreboard_state.json
PING_INTERVAL_MS=2000

# DEBUG SETTINGS

# This will add a customizable delay to all network requests
ARTIFICIAL_NETWORK_DELAY=false


# DEBUG SETTINGS END